<h1 class="mb-4"> Your Events</h1>

<div class="col">
  <div class="row-md mb-4">
    <p>EVENTS CREATED</p>
  </div>
</div>

<div class="row mb-5">
  <% @user.creator_events.each do |event| %>

  <div class="col-md-4 mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <%= event.title %>
        </h5>
        <h6 class="small text-muted"><%= event.date.strftime("%B %-d, %Y") %></h6>
        <h6 class="small text-muted"><%= event.location %></h6>
        <p class="card-text d-inline-block "><%= event.description.truncate(110) %></p>
        <div><%= link_to "see more", event, class: "btn btn-outline-primary btn-block"%></div>
      </div>
    </div>
  </div>
  <% end %>
</div>

<div class="col">
  <div class="row-md mb-4">
    <p> EVENTS ATTENDED</p>
  </div>
</div>

<div class="row mb-5">
  <% @user.attended_events.each do |event| %>

  <div class="col-md-4 mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <%= event.title %>
        </h5>
        <h6 class="small text-muted"><%= event.date.strftime("%B %-d, %Y") %></h6>
        <h6 class="small text-muted"><%= event.location %></h6>
        <p class="card-text d-inline-block "><%= event.description.truncate(110) %></p>
        <div><%= link_to "see more", event, class: "btn btn-outline-primary btn-block"%></div>
      </div>
    </div>
  </div>
  <% end %>
</div>
