<h1>Events#index</h1>
<p>Find me in app/views/events/index.html.erb</p>

<div>
  <%= link_to "Create Event", new_event_path  %>
</div>
<br>

<div id="events">
  <% @events.each do |event| %>
    <p>
      <strong>Title:</strong>
      <%= event.title %>
    </p>

    <p>
      <strong>Date:</strong>
      <%= event.date %>
    </p>

    <p>
      <strong>Location:</strong>
      <%= event.location %>
    </p>
      <%= link_to "More Info", event %>
    </p>
  <% end %>
</div
