<div class="row mb-4">
  <div class="col">
    <h1>Upcoming Events</h1>
  </div>
  <div>
    <%= link_to 'Create Event', new_event_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>

<div class="row mb-5">
  <% Event.future.each do |event| %>
  <div class="col-md-4 mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <%= event.title %>
        </h5>
        <h6 class="small text-muted"><%= event.date.strftime("%B %-d, %Y") %></h6>
        <h6 class="small text-muted"><%= event.location %></h6>
        <p class="card-text d-inline-block "><%= event.description.truncate(110) %></p>
        <div><%= link_to "see more", event, class: "btn btn-outline-primary btn-block"%></div>
      </div>
    </div>
  </div>
  <% end %>
</div>

<h4 class="text-muted">PAST EVENTS</h4>
<div class="row">
  <% Event.past.each do |event| %>
  <div class="col-md-4 mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <%= event.title %>
        </h5>
        <h6 class="small text-muted"><%= event.date.strftime("%B %-d, %Y") %></h6>
        <h6 class="small text-muted"><%= event.location %></h6>
        <p class="card-text d-inline-block "><%= event.description.truncate(110) %></p>
        <div><%= link_to "see more", event, class: "btn btn-outline-primary btn-block"%></div>
      </div>
    </div>
  </div>
  <% end %>
</div>
