<% if @event.date < Time.now %>
  <div class="alert alert-warning text-center" role="alert">Event registration is now closed.</div>
<% end %>


<div class="card">
  <div class="card-header col">
    <h1><%= @event.title %></h1>
    <p class="text-muted">Event Created by <%= User.find(@event.creator_id).name %></p>
    <p class="text-muted">@ <%= @event.date.strftime("%B %-d, %Y at %l:%M %p") %></p>
    <p class="text-muted">Location: <%= @event.location %></p>
  </div>
  <div class="card-body">
    <p class="card-text"><%= @event.description %></p>
    <div class>
      <% if current_user == @event.creator %>
        <%= link_to 'Edit', edit_event_path, class: "btn btn-primary mb-1" %>
        <%= button_to 'Delete', event_path, method: :delete, class: "btn btn-primary" %>
      <% elsif @event.attendees.include?(current_user) %>
        <%= link_to 'Cancel Invite', cancel_invitation_event_path, class: "btn btn-primary" %>
      <% else %>
        <%= link_to 'Join Event', accept_invitation_event_path, class: "btn btn-primary" unless @event.date < Time.now %>
      <% end %>
    </div>
  </div>
</div>

<h5 class=" text-muted mb-1">Lists of Attendees</h4>
<% if @event.attendees.empty? %>
<ul class="list-group list-group-flush">
  <li class="list-group-item text-muted">None</li>
</ul>
<% else %>
  <ul class="list-group list-group-flush">
    <% @event.attendees.each do |attendee| %>
    <li class="list-group-item text-muted"> <%= attendee.name %> </li>
    <% end %>
  </ul>
<% end %>
