  <div class="container">
    <a class="navbar-brand" href="#">Private Event</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
      </ul>
      <span class="navbar-nav">
        <% if user_signed_in? %>
          <%= link_to 'My Events', user_path(current_user), class: "nav-item nav-link" %>
          <%= link_to 'Edit Account', edit_user_registration_path, class: "nav-item nav-link" %>
          <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: "nav-item nav-link" %>
        <% else %>
            <%= link_to 'Log In', user_session_path, class: "nav-item nav-link" %>
            <%= link_to 'Sign Up', new_user_registration_path, class: "nav-item nav-link" %>
        <% end %>
      </span>
    </div>
  </div>


